{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            {% for melon in melon_list %}
            <tr>
                <td>{{melon.name}}</td>
                <td>{{melon.quantity}}</td>
                <td>{{melon.price_per}}</td>
                <td>{{melon.total_price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not melon_list %}
    <h2> Your cart is empty! :( Pls shop </h2>
    {% endif %}
    <h3>Total price: {{cart_total}}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
